<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ project_title }} - {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/clap.png') }}" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap/scss/bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap-vue/dist/bootstrap-vue.min.css') }}" />
    <!-- Load BootstrapVue JS -->
    <script src="{{ asset('bootstrap-vue/dist/bootstrap-vue.min.js') }}"></script>
    <script src="{{ asset('bootstrap-vue/dist/bootstrap-vue-icons.min.js') }}"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>

<noscript>
    <strong>We're sorry but this project doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<container class="container-fluid">

    <section id="base" class="mb-5">
        <b-navbar toggleable="lg" type="dark" variant="primary" fixed="top">
            <b-navbar-brand href="{{ path('home') }}">BroLight</b-navbar-brand>
            <b-navbar-toggle v-b-toggle.sidebar target=""></b-navbar-toggle>
        </b-navbar>

        <b-sidebar id="sidebar" title="Sidebar" shadow right>
            <div class="px-3 py-2">
                <p>${message}</p>
                <a href="{{ path('user_show') }}"><b-icon-person></b-icon-person> Mon compte</a>
                <hr>
                <p>
                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
                    in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                </p>
                <b-img src="https://picsum.photos/500/500/?image=54" fluid thumbnail></b-img>
            </div>
        </b-sidebar>
    </section>

    {% block body %}{% endblock %}
</container>

<script>
    new Vue({
        el: '#base',
        delimiters: ['${', '}'],
        data: {
            message: "Welcome!",
        },
    })
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
