<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ project_title }} - {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/clap.png') }}" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap/scss/bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap-vue/dist/bootstrap-vue.min.css') }}" />
    <!-- Load BootstrapVue JS -->
    <script src="{{ asset('bootstrap-vue/dist/bootstrap-vue.min.js') }}"></script>
    <script src="{{ asset('bootstrap-vue/dist/bootstrap-vue-icons.min.js') }}"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('scss/styles.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<noscript>
    <strong>We're sorry but this project doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<section id="header">

    {% if app.request.pathInfo == '/' %}
        <header id="header" class="d-none d-md-block d-lg-block">
            <p id="headerTitle" class="title-font display-2">BroLight</p>
            <a href="#mdNav"><b-icon-eject flip-v></b-icon-eject></a>
        </header>
    {% endif %}

    <nav id="mdNav" class="navbar {{ app.user ? 'justify-content-between' : 'justify-content-center' }} bg-white" :class="{'fixed-top':isFixed}">
        {% if app.user %}
            <a href="{{ path('movie_search') }}" class="btn btn-light"><b-icon-search></b-icon-search></a>
        {% endif %}
        {% if app.request.pathInfo == '/' %}
            <h1 id="navTitle" class="text-center title-font" style="opacity: 0">BroLight</h1>
        {% else %}
            <a href="{{ path('home') }}" class="title-link">BroLight</a>
        {% endif %}
        {% if app.user %}
            <div>
                <a href="{{ path('user_edit') }}" class="btn btn-light"><b-icon-gear></b-icon-gear></a>
                <a href="{{ path('user_show') }}" class="btn btn-light"><b-icon-people></b-icon-people></a>
            </div>
        {% endif %}
    </nav>

    <b-navbar id="smNav" toggleable="md" type="dark" variant="dark" fixed="top">
        <b-navbar-brand class="title-font" href="{{ path('home') }}">BroLight</b-navbar-brand>
        {% if app.user %}
        <b-button v-b-toggle.sidebar variant="dark" right>
            <b-icon-skip-backward aria-hidden="true"></b-icon-skip-backward>
            {% endif %}
        </b-button>
    </b-navbar>

    {% if app.user %}
        <b-sidebar id="sidebar" aria-labelledby="sidebar" no-header shadow backdrop right>
            <template v-slot:default="{ hide }">
                <b-button variant="light" block @click="hide">
                    <b-icon-skip-forward></b-icon-skip-forward>
                </b-button>
                <b-button variant="light" block href="{{ path('user_show') }}">{{ app.user.username }}</b-button>
            </template>
        </b-sidebar>
    {% endif %}
</section>

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>

<script>
    new Vue({
        el: '#header',
        delimiters: ['${', '}'],
        data: {
            isFixed: {{ app.request.pathInfo == '/' ? 'false' : 'true' }}
        },
        mounted() {
            {% if app.request.pathInfo == '/' %}
            let header = document.getElementById('header');
            let mdNav = document.getElementById('mdNav');
            let headerTitle = document.getElementById('headerTitle');
            let navTitle = document.getElementById('navTitle');

            window.document.onscroll = () => {
                if (window.scrollY > mdNav.offsetTop && window.scrollY > header.offsetHeight - mdNav.offsetHeight){
                    this.isFixed = true;
                } else {
                    this.isFixed = false;
                }
                headerTitle.style.opacity = (header.offsetHeight / window.scrollY) / 10
                navTitle.style.opacity = 1 - (header.offsetHeight / window.scrollY) / 10
            }
            {% endif %}
        }
    })
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
