<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ project_title }} - {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/clap.png') }}" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap/scss/bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('bootstrap-vue/dist/bootstrap-vue.min.css') }}" />
    <!-- Load BootstrapVue JS -->
    <script src="{{ asset('bootstrap-vue/dist/bootstrap-vue.min.js') }}"></script>
    <script src="{{ asset('bootstrap-vue/dist/bootstrap-vue-icons.min.js') }}"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('scss/styles.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<noscript>
    <strong>We're sorry but this project doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<section id="base">

    <header id="header" class="d-none d-md-block d-lg-block">
        <p id="headerTitle" class="title-font display-2">BroLight</p>
    </header>

    <nav id="mdNav" class="navbar justify-content-between" :class="{'fixed-top bg-dark':isFixed}">
        <a href="#" class="btn btn-light"><b-icon-search></b-icon-search></a>
        <h1 id="navTitle" class="text-center title-font" :class="{'text-white':isFixed}" style="opacity: 0">BroLight</h1>
        <a href="{{ path('user_show') }}" class="btn btn-light"><b-icon-person></b-icon-person></a>
    </nav>

    <b-navbar id="smNav" toggleable="md" type="dark" variant="dark" fixed="top">
        <b-navbar-brand href="{{ path('home') }}">BroLight</b-navbar-brand>
        <b-button v-b-toggle.sidebar variant="dark" right>
            <b-icon-skip-backward aria-hidden="true"></b-icon-skip-backward>
        </b-button>
    </b-navbar>

    <b-sidebar id="sidebar" aria-labelledby="sidebar" no-header shadow backdrop right>
        <template v-slot:default="{ hide }">
            <b-button variant="light" block @click="hide">
                <b-icon-skip-forward></b-icon-skip-forward>
            </b-button>
            <b-button variant="light" block href="{{ path('user_show') }}">{{ app.user.username }}</b-button>
        </template>
    </b-sidebar>
</section>

<section class="bg-dark">
    <br><br><br>
    {% block body %}{% endblock %}
</section>

<script>
    new Vue({
        el: '#base',
        delimiters: ['${', '}'],
        data: {
            isFixed: false
        },
        mounted() {
            let header = document.getElementById('header');
            let mdNav = document.getElementById('mdNav');
            let headerTitle = document.getElementById('headerTitle');
            let navTitle = document.getElementById('navTitle');

            window.document.onscroll = () => {
                if (window.scrollY > mdNav.offsetTop && window.scrollY > header.offsetHeight){
                    this.isFixed = true;
                } else {
                    this.isFixed = false;
                }
                headerTitle.style.opacity = (header.offsetHeight / window.scrollY) / 10
                navTitle.style.opacity = 1 - (header.offsetHeight / window.scrollY) / 10
            }
        }
    })
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
